<!DOCTYPE html>
<html>
    <header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>GG's</title>
    <center > <h1 style="color:black;"> Admin </h1> <button id="logout">Log Out</button></center>
    </header>
    <center>
    <br>
    <div class="topnav">
            <div class="search-container">
                <input type="text" placeholder="Game Title.." id="title">
                <select id="console">
                  <option value="XBOX One">Xbox One</option>
                  <option value="PlayStation 4">Play</option>
                  <option value="Nintendo Switch">Nintento Switch</option>
                  <option value="PC">PC</option>
                </select>
                <select id="new">
                  <option value="Y">New</option>
                  <option value="N">Used</option>
                </select>
                <input type="text" placeholder="Image URL.." id="url">
                <input type="number" step="0.01" placeholder="Price.." id="price">
                <input type="text" placeholder="Description.." id="desc">
                <input type="number" placeholder="Stock.." id="stock">

                <button id="addGame" type="submit">Add Game</button>
                <br>
                <br>
                <input type="number" placeholder="Game ID.." id="selectID">
                <br>
                <input type="number" placeholder="Stock amount.." id="stockAmount">
                <br>
                <button id="delete">Delete Game</button>
                <button id="addStock">Add Stock</button>
            </div>
    </div>
    <br>
    <div id = "reports">
        <button id="report">Generate Reports</button><br>
        
    </div>
    <br>
    <div id="games" class="grid-container">
    </div>
    </center>
     <script>
          $.ajax({
                    method: "post",
                    url: "/getGames",
                    dataType: "json",
                    data: { "keyword" : "",
                            "console" : "",
                             "new"  : "",
                             "order": ""
                    },
                    success: function(result,status) {
                        show(result);
                    }   
                });//ajax
          function show(res){
              $("#games").empty();
              res.forEach(function(game){
                  $("#games").append(`<div class="grid-item"><img src="${game.image}" width="100px"><br>${game.title}</div>ID: ${game.id} <br>Stock: ${game.stock}<br>`);
              });
          }
          function reloadThat(){
              location.reload();
          }
          $("#report").on("click", function(){
              $.ajax({
                    method: "get",
                    url: "/reports",
                    dataType: "json",
                    data: { },
                    success: function(result,status) {
                        console.log(result);
                        $("#reports").empty();
                        $("#reports").append("Low Stock: <br>");
                        result.report1.forEach(function(item){
                           console.log(item); 
                            $("#reports").append(`${item.title} : ${item.stock} left<br>`);
                        });
                        $("#reports").append("<br>Top 3 Sales: <br>");
                        result.report2.forEach(function(item){
                           console.log(item); 
                            $("#reports").append(`${item.title} : ${item.sold} sales<br>`);
                        });
                        $("#reports").append(`<br>Total Sales: ${result.report3[0]['sum(sold)']} total sales<br>`);
                    }   
                });//ajax
          });
          $("#addStock").on("click", function(){
              $.ajax({
                    method: "post",
                    url: "/addStock",
                    dataType: "json",
                    data: { "value" : $("#stockAmount").val(),
                            "id" : $("#selectID").val()
                    },
                    success: function(result,status) {
                        
                        
                    }   
                });//ajax
                alert("Stock added");
                reloadThat();
          });
          $("#delete").on("click", function(){
              $.ajax({
                    method: "delete",
                    url: "/deleteGame",
                    dataType: "json",
                    data: { "gameID" : $("#selectID").val()
                    },
                    success: function(result,status) {
                        
                        
                    }   
                });//ajax
                alert("Deleted");
                reloadThat();
          });
        $("#addGame").on("click",function(){
                $.ajax({
                    method: "post",
                    url: "/addGame",
                    dataType: "json",
                    data: { "title" : $("#title").val(),
                            "console" : $("#console").val(),
                             "new"  : $("#new").val(),
                             "image": $("#url").val(),
                             "price": $("#price").val(),
                             "desc" : $("#desc").val(),
                             "stock": $("#stock").val()
                    },
                    success: function(result,status) {
                        
                    }   
                });//ajax
                alert("Game added");
                reloadThat();
        });//click
        $("#logout").on("click", function(){
              location.href = "/";
          });
     </script>
</html>