<!DOCTYPE html>
<html>
    <header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>GG's</title>
    <center> <h1 style="color:black;"> Welcome to GG's!</h1> </center>
    </header>
    <center>
    <div class="topnav">
            <div class="search-container">
                <input type="text" placeholder="Search.." id="keyword">
                <select id="console">
                  <option value="XBOX One">Xbox One</option>
                  <option value="PlayStation 4">Play</option>
                  <option value="Nintendo Switch">Nintento Switch</option>
                  <option value="PC">PC</option>
                </select>
                <select id="new">
                  <option value="Y">New</option>
                  <option value="N">Used</option>
                </select>
                <select id="order">
                  <option value="-price">Price Ascending</option>
                  <option value="price">Price Descending</option>
                </select>

                <button id="searchBtn" type="submit">Search</button>
                <button id= "displayAll">List All Games</button>
                <a href="/checkout">Checkout</a>
                <button id="logout">Log Out</button>
            </div>
    </div>
    <br>
    <div id="games">
        
    </div>
    </center>
     <script>
          $("#searchBtn").on("click",function(){
                $.ajax({
                    method: "post",
                    url: "/getGames",
                    dataType: "json",
                    data: { "keyword" : $("#keyword").val(),
                            "console" : $("#console").val(),
                             "new"  : $("#new").val(),
                             "order": $("#order").val()
                    },
                    success: function(result,status) {
                        $("#games").empty();
                        result.forEach(function(game){
                            $("#games").append(`<div id="${game.id}"><img src=${game.image} height="150px"><br>${game.title}<br>${game.price}<button class="addCart">Add to Cart</button><br>${game.description}</div><br>`);
                        });
                    }   
                });//ajax
        });//click
                $("#displayAll").on("click",function(){
                $.ajax({
                    method: "post",
                    url: "/getGames",
                    dataType: "json",
                    data: { "keyword" : "",
                            "console" : "",
                             "new"  : "",
                             "order": ""
                    },
                    success: function(result,status) {
                        alert(result);
                        result.forEach(function(game){
                            $("#games").append(`<img src=${game.image}>`);
                           // $("#games").append(${game.info});
                        });
                    }   
                });//ajax
        });//click
        $(document).on("click", ".addCart", function(){
                let id = $(this).parent().attr('id');
                console.log(id);
                $.ajax({
                    method: "post",
                    url: "/addCart",
                    dataType: "json",
                    data: { "user" : "alex",
                            "game" : parseInt(id)
                    },
                    success: function(result,status) {
                        alert(result.res);
                    }   
                });//ajax
        });//click
        $("#logout").on("click", function(){
              location.href = "/";
          });
         
     </script>
</html>
